#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ScreenCloud
GenericName=Screenshot sharing tool
Comment=Capture and share screenshots easily
Icon=screencloud
Type=Application
Exec=screencloud
Hidden=false
NoDisplay=false
Categories=Internet;RemoteAccess;Graphics;2DGraphics;TrayIcon;
Terminal=false