<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Product Id="*" Name="ScreenCloud" Language="1033" Version="$(var.ProductFullVersion)" Manufacturer="Olav Sortland Thoresen" UpgradeCode="C80D60EB-D743-4756-9B33-A62B31FD64D5">
        <Package Description="ScreenCloud" InstallerVersion="301" Compressed="yes" Manufacturer="Olav Sortland Thoresen" Platform="$(var.Platform)" />
        <Media Id="1" Cabinet="screencloud.cab" EmbedCab="yes" CompressionLevel="high" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="SCREENCLOUD" Name="ScreenCloud">
                    <Component Id="SCREENCLOUD.EXE" DiskId="1" Guid="57C15E17-C360-431A-B5CB-B0D22642AA62" Win64="$(var.Win64)">
                        <File Id="SCREENCLOUD.EXE" Name="ScreenCloud.exe" Source="..\bin\screencloud.exe" KeyPath="yes">
                            <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="ScreenCloud" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="DesktopIcon.exe" IconIndex="0" />
                            <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="ScreenCloud" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                        </File>
                    </Component>
                    <Component Id="DLLS" DiskId="1" Guid="9475C27F-4706-4554-A316-C5BB60A38589" Win64="$(var.Win64)">
                        <File Id="LIBCRYPTO-1_1.DLL" Name="libcrypto-1_1.dll" Source="..\bin\libcrypto-1_1.dll" />
                        <File Id="LIBSSL-1_1.DLL" Name="libssl-1_1.dll" Source="..\bin\libssl-1_1.dll" />
                        <File Id="QUAZIP.DLL" Name="quazip5.dll" Source="..\bin\quazip5.dll" />
                        <File Id="PYTHONQT.DLL" Name="Qt5Python37.dll" Source="..\bin\Qt5Python37.dll" />
                        <File Id="PYTHON37.DLL" Name="python37.dll" Source="..\bin\python37.dll">
                        </File>
                        <File Id="PYTHONQT_QTALL.DLL" Name="Qt5Python37_QtAll.dll" Source="..\bin\Qt5Python37_QtAll.dll" />
                        <File Id="ZLIB1.DLL" Name="zlib.dll" Source="..\bin\zlib.dll" />
                    </Component>
                    <Component Id="QTDLLS" DiskId="1" Guid="5B39DF2B-C7A8-49FE-B364-439B5A01D545" Win64="$(var.Win64)">
                        <File Id="QTCORE" Name="Qt5Core.dll" Source="..\bin\Qt5Core.dll" />
                        <File Id="QTWIDGETS" Name="Qt5Widgets.dll" Source="..\bin\Qt5Widgets.dll" />
                        <File Id="QTNETWORK" Name="Qt5Network.dll" Source="..\bin\Qt5Network.dll" />
                        <File Id="QTXML" Name="Qt5Xml.dll" Source="..\bin\Qt5Xml.dll" />
                        <File Id="QTMULTIMEDIA" Name="Qt5Multimedia.dll" Source="..\bin\Qt5Multimedia.dll" />
                        <File Id="QT5GUI.DLL" Name="Qt5Gui.dll" Source="..\bin\Qt5Gui.dll" />
                        <File Id="QT5MULTIMEDIAWIDGETS.DLL" Name="Qt5MultimediaWidgets.dll" Source="..\bin\Qt5MultimediaWidgets.dll" />
                        <File Id="QT5OPENGL.DLL" Name="Qt5OpenGL.dll" Source="..\bin\Qt5OpenGL.dll" />
                        <File Id="QT5SVG.DLL" Name="Qt5Svg.dll" Source="..\bin\Qt5Svg.dll" />
                        <File Id="QT5PRINTSUPPORT.DLL" Name="Qt5PrintSupport.dll" Source="..\bin\Qt5PrintSupport.dll" />
                        <File Id="QT5QML.DLL" Name="Qt5Qml.dll" Source="..\bin\Qt5Qml.dll" />
                        <File Id="QT5QUICK.DLL" Name="Qt5Quick.dll" Source="..\bin\Qt5Quick.dll" />
                        <File Id="QT5QUICKWIDGETS.DLL" Name="Qt5QuickWidgets.dll" Source="..\bin\Qt5QuickWidgets.dll" />
                        <File Id="QT5SQL.DLL" Name="Qt5Sql.dll" Source="..\bin\Qt5Sql.dll" />
                        <File Id="QT5XMLPATTERNS.DLL" Name="Qt5XmlPatterns.dll" Source="..\bin\Qt5XmlPatterns.dll" />
                    </Component>
                    <Component Id="PYTHON37.ZIP" Guid="DD2E14B6-0F20-429F-83CB-82AF2D8D77CB" DiskId="1" Win64="$(var.Win64)">
                        <File Id="PYTHON37.ZIP" Name="python37.zip" Source="..\python37.zip" />
                    </Component>
                    <Directory Id="ICONENGINES" Name="iconengines">
                        <Component Id="ICONENGINES" Guid="DE3EE756-E1D9-4908-8FEA-87EAAD6CBC95" Win64="$(var.Win64)">
                            <File Name="qsvgicon.dll" Id="QSVGICON.DLL" Source="..\bin\iconengines\qsvgicon.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="IMAGEFORMATS" Name="imageformats">
                        <Component Id="IMAGEFORMATS" Guid="70A45777-D415-4469-90C1-4452FFAFCCC4" Win64="$(var.Win64)">
                            <File Id="QJPEG.DLL" Name="qjpeg.dll" Source="..\bin\imageformats\qjpeg.dll" />
                            <File Id="QGIF.DLL" Name="qgif.dll" Source="..\bin\imageformats\qgif.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="AUDIO" Name="audio">
                        <Component Guid="F814613D-80E9-42CB-9AD0-F51F712C2342" Id="AUDIO" Win64="$(var.Win64)">
                            <File Id="QTAUDIO_WINDOWS.DLL" Name="qtaudio_windows.dll" Source="..\bin\audio\qtaudio_windows.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="PLATFORMS" Name="platforms">
                        <Component Guid="324673D5-8C7F-4337-A7FA-D5D24B4A1563" Id="PLATFORMS" Win64="$(var.Win64)">
                            <File Id="QWINDOWS.DLL" Name="qwindows.dll" Source="..\bin\platforms\qwindows.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="STYLES" Name="styles">
                        <Component Guid="AEE0CA66-3F28-4D96-B358-FA118230A9E7" Id="STYLES" Win64="$(var.Win64)">
                            <File Id="QWINDOWSVISTASTYLE.DLL" Name="qwindowsvistastyle.dll" Source="..\bin\styles\qwindowsvistastyle.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="PY_MODULES" Name="modules">
                        <!-- files included by heat -->
                    </Directory>
                    <Directory Id="PY_DLLS" Name="DLLs">
                        <!-- files included by heat -->
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="ScreenCloud">
                    <Component Id="StartMenuShortcuts" Guid="9FF5795F-7345-490B-920E-9AAEE82B05E1" Win64="$(var.Win64)">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall ScreenCloud" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="LocalAppDataFolder" Name="AppData">
                <Component Id="RemoveSettings" Guid="506D5042-14AA-44F5-BDD4-5E7B0AC60CE6" NeverOverwrite="yes" Win64="$(var.Win64)">
                    <RemoveRegistryKey Action="removeOnUninstall" Id="RemoveAppSettings" Key="Software\screencloud" Root="HKCU" />
                    <RemoveRegistryKey Action="removeOnUninstall" Id="RemoveStartupKey" Key="Software\Microsoft\Windows\CurrentVersion\Run\ScreenCloud" Root="HKCU" />
                    <Condition>PREVIOUSVERSIONISINSTALLED=""</Condition>
                    <RegistryValue KeyPath="yes" Root="HKCU" Key="Software\screencloud\screencloud-app\installed" Type="integer" Value="1" />
                </Component>
            </Directory>
        </Directory>
        <DirectoryRef Id="TARGETDIR">
            <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_$(var.Platform).msm" DiskId="1" Language="0" />
        </DirectoryRef>
        <Feature Id="VCRedist" Title="Visual C++ 14.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
            <MergeRef Id="VCRedist" />
        </Feature>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="SCREENCLOUD.EXE" />
            <ComponentRef Id="StartMenuShortcuts" />
            <ComponentRef Id="DLLS" />
            <ComponentRef Id="QTDLLS" />
            <ComponentRef Id="RemoveSettings" />
            <ComponentRef Id="ICONENGINES" />
            <ComponentRef Id="IMAGEFORMATS" />
            <ComponentRef Id="PYTHON37.ZIP" />
            <ComponentRef Id="AUDIO" />
            <ComponentRef Id="PLATFORMS" />
            <ComponentRef Id="STYLES" />
            <ComponentGroupRef Id="PY_MODULES" />
            <ComponentGroupRef Id="PY_DLLS" />
        </Feature>
        <UI />
        <Icon Id="ScreenCloud.exe" SourceFile="..\bin\screencloud.exe" />
        <Property Id="ARPPRODUCTICON" Value="ScreenCloud.exe" />
        <Icon Id="DesktopIcon.exe" SourceFile="..\bin\screencloud.exe" />
        <Icon Id="StartMenuIcon.exe" SourceFile="..\bin\screencloud.exe" />
        <Property Id="WIXUI_INSTALLDIR" Value="SCREENCLOUD" />
        <WixVariable Id="WixUIBannerBmp" Value="Binary\banner.jpg" />
        <WixVariable Id="WixUIDialogBmp" Value="Binary\dialog.jpg" />
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        <Binary Id="dialogbmp" SourceFile="Binary\dialog.jpg" />
        <Binary Id="bannerbmp" SourceFile="Binary\banner.jpg" />
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
        <Upgrade Id="C80D60EB-D743-4756-9B33-A62B31FD64D5">
            <UpgradeVersion Minimum="0.0.1" Maximum="$(var.ProductFullVersion)" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no" />
        </Upgrade>
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallFinalize" />
        </InstallExecuteSequence>
        <CustomAction Id="StartAppOnExit" FileKey="SCREENCLOUD.EXE" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch ScreenCloud when setup exits." />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        <UI>
            <Publish Dialog="ExitDialog" Control="Finish" Order="1" Event="DoAction" Value="StartAppOnExit">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed</Publish>
        </UI>
    </Product>
</Wix>