<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="ScreenCloud" Language="1033" Version="VERSIONNUMBERNOTSET" Manufacturer="Olav Sortland Thoresen" UpgradeCode="C80D60EB-D743-4756-9B33-A62B31FD64D5">
        <Package Description="ScreenCloud" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="screencloud.cab" EmbedCab="yes" CompressionLevel="high" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="SCREENCLOUD" Name="ScreenCloud">
                    <Component Id="SCREENCLOUD.EXE" DiskId="1" Guid="57C15E17-C360-431A-B5CB-B0D22642AA62">
                        <File Id="SCREENCLOUD.EXE" Name="ScreenCloud.exe" Source="..\bin\screencloud.exe" KeyPath="yes">
                            <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="ScreenCloud" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="DesktopIcon.exe" IconIndex="0" />
                            <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="ScreenCloud" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                        </File>
                    </Component>
                    <Component Id="DLLS" DiskId="1" Guid="9475C27F-4706-4554-A316-C5BB60A38589">
                        <File Id="LIBEAY32.DLL" Name="libeay32.dll" Source="..\bin\libeay32.dll" />
                        <File Id="SSLEAY32.DLL" Name="ssleay32.dll" Source="..\bin\ssleay32.dll" />
                        <File Name="quazip.dll" Id="QUAZIP.DLL" Source="..\bin\quazip.dll" />
                        <File Id="PYTHONQT.DLL" Name="PythonQt.dll" Source="..\bin\PythonQt.dll" />
                        <File Id="PYTHON35.DLL" Name="python35.dll" Source="..\bin\python35.dll">
                        </File>
                        <File Id="PYTHONQT_QTALL.DLL" Name="PythonQt_QtAll.dll" Source="..\bin\PythonQt_QtAll.dll" />
                        <File Id="ICUDT54.DLL" Name="icudt54.dll" Source="..\bin\icudt54.dll" />
                        <File Id="ICUIN54.DLL" Name="icuin54.dll" Source="..\bin\icuin54.dll" />
                        <File Id="ICUUC54.DLL" Name="icuuc54.dll" Source="..\bin\icuuc54.dll" />
                    </Component>
                    <Component Id="QTDLLS" DiskId="1" Guid="5B39DF2B-C7A8-49FE-B364-439B5A01D545">
                        <File Id="QTCORE" Name="Qt5Core.dll" Source="..\bin\Qt5Core.dll" />
                        <File Id="QTWIDGETS" Name="Qt5Widgets.dll" Source="..\bin\Qt5Widgets.dll" />
                        <File Id="QTNETWORK" Name="Qt5Network.dll" Source="..\bin\Qt5Network.dll" />
                        <File Id="QTXML" Name="Qt5Xml.dll" Source="..\bin\Qt5Xml.dll" />
                        <File Id="QTMULTIMEDIA" Name="Qt5Multimedia.dll" Source="..\bin\Qt5Multimedia.dll" />
                        <File Id="QT5GUI.DLL" Name="Qt5Gui.dll" Source="..\bin\Qt5Gui.dll" />
                        <File Id="QT5MULTIMEDIAWIDGETS.DLL" Name="Qt5MultimediaWidgets.dll" Source="..\bin\Qt5MultimediaWidgets.dll" />
                        <File Id="QT5OPENGL.DLL" Name="Qt5OpenGL.dll" Source="..\bin\Qt5OpenGL.dll" />
                        <File Id="QT5SVG.DLL" Name="Qt5Svg.dll" Source="..\bin\Qt5Svg.dll" />
                    </Component>
                    <Component Id="LIBPYTHON35.ZIP" Guid="DD2E14B6-0F20-429F-83CB-82AF2D8D77CB" DiskId="1">
                        <File Id="LIBPYTHON35.ZIP" Name="libpython3.5.zip" Source="..\libpython3.5.zip" />
                    </Component>
                    <Component Id="PY_STARTUP_MODULES" Guid="2A819964-FADA-4E56-A828-99953937CB7C">
                        <File Id="LZMA.PYD" Name="_lzma.pyd" Source="..\DLLs\_lzma.pyd" />
                    </Component>
                    <Directory Id="SFX" Name="sfx">
                        <Component Id="NOTIFICATION.WAV" DiskId="1" Guid="95EC1C92-1A9C-47D1-9234-BF3C08D190FC">
                            <File Id="NOTIFICATION.WAV" Name="notification.wav" Source="..\sfx\notification.wav" />
                        </Component>
                        <Component Id="SHUTTER.WAV" DiskId="1" Guid="EBDCA7F4-1562-475B-B677-D1FC73E0AAC4">
                            <File Id="SHUTTER.WAV" Name="shutter.wav" Source="..\sfx\shutter.wav" />
                        </Component>
                    </Directory>
                    <Directory Id="ICONENGINES" Name="iconengines">
                        <Component Id="ICONENGINES" Guid="DE3EE756-E1D9-4908-8FEA-87EAAD6CBC95">
                            <File Name="qsvgicon.dll" Id="QSVGICON.DLL" Source="..\bin\iconengines\qsvgicon.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="IMAGEFORMATS" Name="imageformats">
                        <Component Id="IMAGEFORMATS" Guid="70A45777-D415-4469-90C1-4452FFAFCCC4">
                            <File Id="QJPEG.DLL" Name="qjpeg.dll" Source="..\bin\imageformats\qjpeg.dll" />
                            <File Id="QGIF.DLL" Name="qgif.dll" Source="..\bin\imageformats\qgif.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="MODULES" Name="modules">
                        <Component Id="SCREENCLOUD.PY" Guid="01FA92FA-8DBF-45DD-B526-88CA19A069A7">
                            <File Id="SCREENCLOUD.PY" Name="ScreenCloud.py" Source="..\modules\ScreenCloud.py" />
                        </Component>
                        <Component Id="CRYPTO" Guid="45C04102-57A0-4A34-B1CE-6F4E5BD4CA70">
                            <File Id="CRYPTO.ZIP" Name="Crypto.zip" Source="..\modules\Crypto.zip" />
                        </Component>
                        <Directory Id="PYTHONSTDLIBNATIVE" Name="python-stdlib-native">
                            <Component Id="PYTHON_NATIVES" Guid="6F46F737-0386-44E5-A8F6-5F687123A2B1">
                                <File Id="_BZ2.PYD" Name="_bz2.pyd" Source="..\DLLs\_bz2.pyd" />
                                <File Id="_BZ2_D.PYD" Name="_bz2_d.pyd" Source="..\DLLs\_bz2_d.pyd" />
                                <File Id="_CTYPES.PYD" Name="_ctypes.pyd" Source="..\DLLs\_ctypes.pyd" />
                                <File Id="_CTYPES_D.PYD" Name="_ctypes_d.pyd" Source="..\DLLs\_ctypes_d.pyd" />
                                <File Id="_DECIMAL.PYD" Name="_decimal.pyd" Source="..\DLLs\_decimal.pyd" />
                                <File Id="_DECIMAL_D.PYD" Name="_decimal_d.pyd" Source="..\DLLs\_decimal_d.pyd" />
                                <File Id="_ELEMENTTREE.PYD" Name="_elementtree.pyd" Source="..\DLLs\_elementtree.pyd" />
                                <File Id="_ELEMENTTREE_D.PYD" Name="_elementtree_d.pyd" Source="..\DLLs\_elementtree_d.pyd" />
                                <File Id="_HASHLIB.PYD" Name="_hashlib.pyd" Source="..\DLLs\_hashlib.pyd" />
                                <File Id="_HASHLIB_D.PYD" Name="_hashlib_d.pyd" Source="..\DLLs\_hashlib_d.pyd" />
                                <File Id="_LZMA.PYD" Name="_lzma.pyd" Source="..\DLLs\_lzma.pyd" />
                                <File Id="_LZMA_D.PYD" Name="_lzma_d.pyd" Source="..\DLLs\_lzma_d.pyd" />
                                <File Id="_MSI.PYD" Name="_msi.pyd" Source="..\DLLs\_msi.pyd" />
                                <File Id="_MSI_D.PYD" Name="_msi_d.pyd" Source="..\DLLs\_msi_d.pyd" />
                                <File Id="_MULTIPROCESSING.PYD" Name="_multiprocessing.pyd" Source="..\DLLs\_multiprocessing.pyd" />
                                <File Id="_MULTIPROCESSING_D.PYD" Name="_multiprocessing_d.pyd" Source="..\DLLs\_multiprocessing_d.pyd" />
                                <File Id="_OVERLAPPED.PYD" Name="_overlapped.pyd" Source="..\DLLs\_overlapped.pyd" />
                                <File Id="_OVERLAPPED_D.PYD" Name="_overlapped_d.pyd" Source="..\DLLs\_overlapped_d.pyd" />
                                <File Id="_SOCKET.PYD" Name="_socket.pyd" Source="..\DLLs\_socket.pyd" />
                                <File Id="_SOCKET_D.PYD" Name="_socket_d.pyd" Source="..\DLLs\_socket_d.pyd" />
                                <File Id="_SQLITE3.PYD" Name="_sqlite3.pyd" Source="..\DLLs\_sqlite3.pyd" />
                                <File Id="_SQLITE3_D.PYD" Name="_sqlite3_d.pyd" Source="..\DLLs\_sqlite3_d.pyd" />
                                <File Id="_SSL.PYD" Name="_ssl.pyd" Source="..\DLLs\_ssl.pyd" />
                                <File Id="_SSL_D.PYD" Name="_ssl_d.pyd" Source="..\DLLs\_ssl_d.pyd" />
                                <File Id="PYEXPAT.PYD" Name="pyexpat.pyd" Source="..\DLLs\pyexpat.pyd" />
                                <File Id="PYEXPAT_D.PYD" Name="pyexpat_d.pyd" Source="..\DLLs\pyexpat_d.pyd" />
                                <File Id="SELECT.PYD" Name="select.pyd" Source="..\DLLs\select.pyd" />
                                <File Id="SELECT_D.PYD" Name="select_d.pyd" Source="..\DLLs\select_d.pyd" />
                                <File Id="UNICODEDATA.PYD" Name="unicodedata.pyd" Source="..\DLLs\unicodedata.pyd" />
                                <File Id="UNICODEDATA_D.PYD" Name="unicodedata_d.pyd" Source="..\DLLs\unicodedata_d.pyd" />
                                <File Id="WINSOUND.PYD" Name="winsound.pyd" Source="..\DLLs\winsound.pyd" />
                                <File Id="WINSOUND_D.PYD" Name="winsound_d.pyd" Source="..\DLLs\winsound_d.pyd" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="ScreenCloud">
                    <Component Id="StartMenuShortcuts" Guid="9FF5795F-7345-490B-920E-9AAEE82B05E1">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall ScreenCloud" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="LocalAppDataFolder" Name="AppData">
                <Component Id="RemoveSettings" Guid="506D5042-14AA-44F5-BDD4-5E7B0AC60CE6" NeverOverwrite="yes">
                    <RemoveRegistryKey Action="removeOnUninstall" Id="RemoveAppSettings" Key="Software\screencloud" Root="HKCU" />
                    <RemoveRegistryKey Action="removeOnUninstall" Id="RemoveStartupKey" Key="Software\Microsoft\Windows\CurrentVersion\Run\ScreenCloud" Root="HKCU" />
                    <Condition>PREVIOUSVERSIONISINSTALLED=""</Condition>
                    <RegistryValue KeyPath="yes" Root="HKCU" Key="Software\screencloud\screencloud-app\installed" Type="integer" Value="1" />
                </Component>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="SCREENCLOUD.EXE" />
            <ComponentRef Id="NOTIFICATION.WAV" />
            <ComponentRef Id="SHUTTER.WAV" />
            <ComponentRef Id="StartMenuShortcuts" />
            <ComponentRef Id="DLLS" />
            <ComponentRef Id="QTDLLS" />
            <ComponentRef Id="RemoveSettings" />
            <ComponentRef Id="ICONENGINES" />
            <ComponentRef Id="IMAGEFORMATS" />
            <ComponentRef Id="SCREENCLOUD.PY" />
            <ComponentRef Id="LIBPYTHON35.ZIP" />
            <ComponentRef Id="PYTHON_NATIVES" />
            <ComponentRef Id="PY_STARTUP_MODULES" />
            <ComponentRef Id="CRYPTO" />
        </Feature>
        <UI />
        <Icon Id="ScreenCloud.exe" SourceFile="..\ScreenCloud.exe" />
        <Property Id="ARPPRODUCTICON" Value="ScreenCloud.exe" />
        <Icon Id="DesktopIcon.exe" SourceFile="..\ScreenCloud.exe" />
        <Icon Id="StartMenuIcon.exe" SourceFile="..\ScreenCloud.exe" />
        <Property Id="WIXUI_INSTALLDIR" Value="SCREENCLOUD" />
        <WixVariable Id="WixUIBannerBmp" Value="Binary\banner.jpg" />
        <WixVariable Id="WixUIDialogBmp" Value="Binary\dialog.jpg" />
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        <Binary Id="dialogbmp" SourceFile="Binary\dialog.jpg" />
        <Binary Id="bannerbmp" SourceFile="Binary\banner.jpg" />
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
        <Upgrade Id="C80D60EB-D743-4756-9B33-A62B31FD64D5">
            <UpgradeVersion Minimum="0.0.1" Maximum="VERSIONNUMBERNOTSET" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no" />
        </Upgrade>
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallFinalize" />
        </InstallExecuteSequence>
        <CustomAction Id="StartAppOnExit" FileKey="SCREENCLOUD.EXE" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch ScreenCloud when setup exits." />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        <UI>
            <Publish Dialog="ExitDialog" Control="Finish" Order="1" Event="DoAction" Value="StartAppOnExit">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed</Publish>
        </UI>
    </Product>
</Wix>